{
  "all": true,
  "check-coverage": true,
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.spec.ts"],
  "reporter": ["text", "html"],
  "parser-plugins": ["typescript", "classProperties", "classPrivateProperties"]
}
