:root {
  // accent colors
  --vp-c-accent: #df0629;
  --vp-c-accent-bg: #df0629;
  --vp-c-accent-hover: #df0629;
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: rgb(16 185 129 / 14%);
}
